.dataGrid {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid var(--intermediate-grey);
    box-sizing: border-box;

    /* To-do: Be more specific */
    >div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5em;
        gap: 1em;
        border-bottom: 1px solid var(--intermediate-grey);
    }

    thead {
        tr {
            text-transform: uppercase;
            font-weight: normal;

            th {
                border-bottom: 1px solid var(--intermediate-grey);
            }
        }
    }

    tr {
        td {
            border-bottom: 1px solid var(--intermediate-grey);
            text-align: center;
        }

        &:hover {
            background: var(--intermediate-grey);
            color: var(--foreground-color);
        }
    }

    table {
        width: 100%;
    }

    th {
        font-size: 1em;
        font-weight: normal;
    }

    td,
    th {
        padding: 8px;
    }
}

.dataToolBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    border-bottom: 1px solid var(--intermediate-grey);
}

.darkMode {
    >div {
        background: var(--foreground-color);
        color: var(--background-color);

        button {
            background: var(--background-color);
            color: var(--foreground-color);

            &:hover {
                background: var(--intermediate-grey);
            }
        }
    }

    thead tr {
        background: var(--foreground-color);
    }

    tr {
        background: var(--foreground-color);
        color: #FFFFFF;
    }

    .dataToolBar {
        background: var(--foreground-color);
        color: var(--background-color);

        button {
            background: var(--background-color);
            color: var(--foreground-color);

            &:hover {
                background: var(--intermediate-grey);
            }
        }
    }

}

.selectedInfo{
    min-width: 20%;
}