.pretendCheckbox {
    width: 5px;
    height: 5px;
    border-radius: 2px;
    border: 1px solid var(--foreground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    color: var(--background-color);
    overflow: hidden;
    margin: 0 1.35em;
}

.selectAllCheckBox {
    position: relative;

    label {
        position: absolute;
        inset: 0;
        z-index: -5;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .pretendCheckbox {
        padding: 8px;
    }
}